.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 80vh;

  .forms {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .search {
      font-size: 26px;
    }
  }
  
  .sub-container {
    display: block;
    margin: 10px;

    .router-link {
      color: #4b4c52;
      text-decoration: none;
    }

    .router-link:hover{
      color: #80828c;
      transition: color 0.3s ease-in-out;
    }
  }
}

