.container {
  .form {
    display: flex;
    gap: 10px;

    .input {
      width: 200px;
      height: 25px;
      border-radius: 5px;
    }

    .selector {
      border-radius: 5px;
      border-width: 2px;
    }
  }
  
}

