<div class="container">
  <form
    class="form"
    [formGroup]="childForm()"
    (ngSubmit)="onSubmit()"
    (change)="onFormGroupChange()"
  >
    <input class="input" placeholder="Enter company name..." formControlName="name" />
    <select class="selector" formControlName="type">
      @for (type of types(); track $index) {
      <option value="{{ type }}">{{ type }}</option>
      }
    </select>
    <select class="selector" formControlName="industry">
      @for (industry of industries(); track $index) {
      <option value="{{ industry }}">{{ industry }}</option>
      }
    </select>
  </form>
</div>
