.container {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  font-size: 32px;
  padding: 16px;
  .logo {
    height: 100px;
    width: 100px;
    border-radius: 75px;
  }

  .company-name {
    font-weight: bold;
  }
}